# Database URLs
MYSQL_URL="mysql://root:password@127.0.0.1:3307/tasks_db"
HOST="127.0.0.1"
PORT=3307
USER="root"
PASSWORD="password"
DATABASE="tasks_db"
CONNECTIONLIMIT=5

POSTGRES_URL="postgresql://postgres:password@127.0.0.1:5433/tasks_db"
